# copy content to your local .env file

PORT=3001
DB_CONNECTION_STRING_MONGO=mongodb+srv://<USER_NAME>:<DB_PASSWORD>@cluster0.d2cdm.mongodb.net/<DB_NAME>?retryWrites=true&w=majority
JWT_SECRET=<youre secret>